*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #FAE4D5;
}

nav div a{
    font-size: 2em;
    color: black;
    text-decoration-line: none;
}

nav div a :hover{
    box-shadow: none;
}

nav div :hover{
    box-shadow:0px 5px red;
}

nav div img{
    width: 0.7em;
    height: 0.7em;
}

nav #logo{
    width: 200px;
    height: 100%;
}

nav  #logo img{
    width: 100%;
    height: 100%;
}

 nav #logo :hover{
    box-shadow: none;
}

#image-acceuil{
    width: 100%;
}

#image-acceuil img{
    width: 100%;
}

#text-bienvenu{
    background-color: #DADADA;
}

#text-bienvenu p{
    font-size: 1.5em;
    text-align: center;
}

#text-bienvenu #mot-bienvenu{
    font-size: 3em;
    color: #006FBF;
}

#localisation{
    background-color: #B3C6E6;
}

#contact{
    background-color: #D8D8D8;
}

main #rejoignez{
    width:200px;
    height: 50px;
    margin: 40px;
    margin-left: 40%;
}

main p{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: 700;
}

#personnel{
    margin: 5px 0 30px 45%;
    width: 100px;
    background-color: #D8D8D8;
}

#section2{
    display: flex;
    justify-content: center;
}

#formulaire{
    background-color: #FAE4D5;
    width: 100%;
}

#formulaire p{
    width: 190px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: 700;
}

#formulaire input{
    width: 90%;
    margin: 25px 15px 25px 15px;
    border: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: large;
}

#formulaire textarea{
    width: 90%;
    margin: 25px 15px 0px 15px;
    border: white;
    border-radius: 10px;
    padding: 10px;
}

#images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    text-align: center;
}

#images img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 30px;
}

@media screen and (max-width:600px){
    nav{
        display: flex;
        justify-content:center;
        height: 45px;
        background-color: #FAE4D5;
    }
    
    nav div a{
        font-size: 1em;
    }
        
    nav div img{
        width: 0.7em;
        height: 0.7em;
    }
    
    nav #logo{
        width: 100px;
        height: 100%;
    }
    
    nav  #logo img{
        width: 100%;
        height: 100%;
    }

    #section2{
        display: flex;
        flex-direction: column;
    }

    #section2 div img{
        width: 100%;
    }
}